 <p> Do you GST tax from gov. ?</p><br>
 <form action="">
 <input type="radio" name="vote" value="agree" (click)= "generateVote(1)"> Agree<br>
<input type="radio" name="vote" value="disagree" (click)= "generateVote(0)"> DisAgree<br>

 </form>