<!--<p *ngFor = "let user of users">
   {{user.username}}   {{user.userId}}

  <input type="button" value="click" (click) = "showClickedValue()">

  <input type="text" (keyup)="showEnteredValue($event)">


</p>-->

<!--<app-link3 *ngFor="let user of users" [link2emp]="user"></app-link3>-->

<p> link2 main data is :  {{somedata}} </p>
 
<!--<app-link3 *ngFor="let user of users" [link2emp]="user" (emitValue)= "takeValue($event)"></app-link3>-->

<app-link3 *ngFor="let user of users" [link2emp]="user"></app-link3>






