<div>
      <nav>
        <a href="#" routerLink="/">Link1</a> |
        <a href="#" routerLink="/link2">Link2</a> |
        <!--<a href="#" routerLink="/link3">Link3</a> | -->
        <a href="#" routerLink="/link4">Link4</a> |
        <a href="#" routerLink="/link5">Link5</a> 
        <a href="#" routerLink="/project">projectspace</a>
      
      </nav>
</div> 