
   <!--<p>{{link2emp.name}} {{link2emp.id}}</p>-->


   <!--<p>{{link2emp.username}}</p>
   <p>{{link2emp.userId}}</p>-->


   <!--<input type="button" value="click" (click)= "generateEvent()">-->
   

   <p> hello  {{link2emp.username}}  | {{link2emp.userId}}</p>